<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2 id="status"></h2>
<script>
    window.onload = function () {
        var $status = document.getElementById('status');
        var interval = setInterval(function () {
            if (navigator.dummyServiceWorker) {
                clearInterval(interval);
                $status.innerText = 'serviceWorkerShim found!';
                navigator.dummyServiceWorker.ready.then(function (serviceWorkerRegistration) {
                    serviceWorkerRegistration.pushManager.register().then(
                            function (pushRegistration) {
                                $status.innerText = "registration complete! registrationId: " + pushRegistration.registrationId + " endpoint: " + pushRegistration.endpoint;
                                console.log(pushRegistration.registrationId);
                                console.log(pushRegistration.endpoint);
                                // The push registration details needed by the application server to push
                                // messages to the push service are now available, and can be sent to the
                                // application server using, for example, an XMLHttpRequest.
                            }, function (error) {
                                // During development it often helps to log errors to the console. In a
                                // production environment it might make sense to also report information
                                // about errors back to the application server.
                                $status.innerText = "error in registration: " + error;
                                console.log(error);
                            }
                    );
                });
            } else {
                $status.innerText = 'no serviceWorkerShim found :(';
            }
        }, 1000);
    }

</script>
</body>
</html>